<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <!--section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration" /-->
    <section name="unity"
             type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,
               Microsoft.Practices.Unity.Configuration, Version=1.1.0.0,
               Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <unity>
    <typeAliases>
      <typeAlias alias="IPluginCBusinessLogic"
           type="TestPluginApp.C.IPluginCBusinessLogic, TestPluginApp.C" />
      <typeAlias alias="PluginCBusinessLogic"
           type="TestPluginApp.C.PluginCBusinessLogic, TestPluginApp.C" />
    </typeAliases>

    <containers>
      <container name="containerOne">
        <types>
          <type type="IPluginCBusinessLogic" mapTo="PluginCBusinessLogic" name="PluginBusinessLogic" />
        </types>
      </container>
    </containers>
  </unity>
</configuration>