<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="Plugins" type="System.Configuration.NameValueSectionHandler" />
    <section name="PluginsLogic" type="System.Configuration.NameValueSectionHandler" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <Plugins>
    <add key="PluginA" value="C:\Users\jaypenaflorida\source\repos\TestPluginApp\TestPluginApp.A\bin\Debug\TestPluginApp.A.dll"/>
    <add key="PluginB" value="C:\Users\jaypenaflorida\source\repos\TestPluginApp\TestPluginApp.B\bin\Debug\TestPluginApp.B.dll"/>
    <add key="PluginC" value="C:\Users\jaypenaflorida\source\repos\TestPluginApp\TestPluginApp.C\TestPluginApp.C\bin\Debug\TestPluginApp.C.dll"/>
  </Plugins>
  <PluginsLogic>
    <add key="IPluginCBusinessLogic" value="TestPluginApp.C.PluginCBusinessLogic"/>
  </PluginsLogic>
</configuration>